/.vscode
/array1.c
/array1.exe
/arrayExample.c
/arrayExample.exe
/arrays.c
/arrays.exe
/artanYildiz.exe
/azalanYildiz.exe
/calisma1.c
/C_How_to_Program_7th_Ed.pdf
/deitel 9.pdf
/derscalisma
/dersCalisma.c
/dersCalisma.exe
/hesapMakinesi.c
/hesapMakinesi.exe
/main.exe
/main.o
/Makefile.win
/odev.dev
/odev.layout
/Project1.dev
/Project1.exe
/Project1.layout
/switchHesapMakinesi.c
/switchHesapMakinesi.exe
/Untitled-1.exe